<ul class="nav">
  <li>
    <%= link_to "Craft Beer Review", root_path, :class => 'brand' %>
  </li> 
  <li class="divider-vertical"></li>  
  <li>
    <%= link_to 'Beers', beers_path %>
  </li>
  <li class="divider-vertical"></li>   
  <li>
    <%= link_to 'Breweries', breweries_path %>
  </li>
  <li class="divider-vertical"></li>   
  <li>
    <%= link_to "Beer Styles", styles_path %>
  </li>  
</ul>


  